/* variables */
:root {
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* reset */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  overflow-x: hidden;
  background-color: var(--secondary);
  font-family: 'Rubik Regular';
}
.button {
  background-color: none;
  border: 2px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  text-transform: uppercase;
  padding: 6px 12px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.button:hover {
  color: #222;
  background-color: var(--primary);
}
input, textarea {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #9893D8;
  border-radius: 20px;
  color: #F2F2F2;
  padding: 10px 16px;
}

/* fonts */
@font-face {
  font-family: 'Rubik Regular';
  src: url('assets/fonts/Rubik-Regular.ttf');
}
h1, h2, h3, h4 {
  color: #DDDBFF;
  font-weight: normal;
}
p, a, li {
  color: #9893D8;
}
h1, h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}
.leading {
  font-size: 1.1em;
}

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.site-nav {
  margin: 0 20px;
}
.site-nav h1 {
  grid-row: 1;
  grid-column: 1/4;
  border-bottom: 3px solid var(--primary);
  padding-bottom: 10px;
}
.site-nav ul {
  display: none;
}
#welcome {
  padding: 0 20px 20px;
}
.welcome-text {
  grid-column: 1/6;
}
.welcome-text a {
  margin: 20px 0;
}
.welcome-image {
  grid-column: 6/9;
}
.welcome-image img {
  width: 200%;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}